<div class="mat-elevation-z8">
  <mat-tab-group mat-stretch-tabs="false" mat-align-tabs="center">
    <mat-tab label="First">
      <table mat-table [dataSource]="dataSource">
  

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let element"> {{element.name}} </td>
        </ng-container>
  
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    
      <mat-paginator #paginator
                      (page)="handlePageEvent($event)"
                      [length]="length"
                      [pageSize]="pageSize"
                      [disabled]="disabled"
                      [showFirstLastButtons]="showFirstLastButtons"
                      [pageSizeOptions]="showPageSizeOptions ? pageSizeOptions : []"
                      [hidePageSize]="hidePageSize"
                      [pageIndex]="pageIndex"
                     aria-label="Select page">
      </mat-paginator>
    </mat-tab>
    
    <mat-tab label="Second">
      <form (ngSubmit) ="setAutor()" #formularioIngreso="ngForm" style="align-items: center">
        <mat-form-field>
          <mat-label>Titulo</mat-label>
          <input matInput type="text" name="title" placeholder="Titulo" [(ngModel)]="modeloAutor.title">
        </mat-form-field>
        <br>
        <mat-form-field>
          <mat-label>Descripcion</mat-label>
          <input matInput type="text" name="body" placeholder="Descripcion" [(ngModel)]="modeloAutor.body">
        </mat-form-field>
        <div class="example-button-row">
          <button mat-raised-button color="primary" type="submit">Agregar</button>
        </div>
        
      </form>   
    
      <mat-form-field>
        <mat-label>idUser</mat-label>
        <input matInput type="text" name="idUser"  [(ngModel)]="modeloRespuesta.userId">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>id</mat-label>
        <input matInput type="text" name="id"  [(ngModel)]="modeloRespuesta.id">
      </mat-form-field>
      <br>
      <mat-form-field>
        
        <mat-label>Titulo</mat-label>
        <input matInput type="text" name="title" placeholder="Titulo" [(ngModel)]="modeloRespuesta.title">
      </mat-form-field>
      <br>
      <mat-form-field>
        <mat-label>Descripcion</mat-label>
        <input matInput type="text" name="body" placeholder="Descripcion" [(ngModel)]="modeloRespuesta.body">
      </mat-form-field>
      

      
    </mat-tab>
    <mat-tab label="Third">Content 3
      <table mat-table [dataSource]="dataSourcePais">
  

        <!-- Name Column -->
        <ng-container matColumnDef="codPais">
          <th mat-header-cell *matHeaderCellDef> Codigo de Pais </th>
          <td mat-cell *matCellDef="let element2"> {{element2.codPais}} </td>
        </ng-container>

        <ng-container matColumnDef="nombrePais">
          <th mat-header-cell *matHeaderCellDef> Nombre de Pais </th>
          <td mat-cell *matCellDef="let element2"> {{element2.nombrePais}} </td>
        </ng-container>
  
    
        <tr mat-header-row *matHeaderRowDef="displayedColumnsPaises"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumnsPaises;"></tr>
      </table>
    
      <mat-paginator #paginatorPais
                      (page)="handlePageEventPais($event)"
                      [length]="lengthPais"
                      [pageSize]="pageSizePais"
                      [disabled]="disabled"
                      [showFirstLastButtons]="showFirstLastButtonsPais"
                      [pageSizeOptions]="showPageSizeOptionsPais ? pageSizeOptionsPais : []"
                      [hidePageSize]="hidePageSizePais"
                      [pageIndex]="pageIndexPais"
                     aria-label="Select page">
      </mat-paginator>
    </mat-tab>
    <mat-tab label="Fourth">
      <form (ngSubmit) ="setConversion()" #formularioIngresoPais="ngForm" style="align-items: center">
        <mat-form-field>
          <mat-label>Ingrese numero a convertir</mat-label>
          <input matInput type="text" name="ingresoConversion" placeholder="Numero a convertir" [(ngModel)]="ingresoConversion">
        </mat-form-field>
        
        <div class="example-button-row">
          <button mat-raised-button color="primary" type="submit">Convertir</button>
        </div>
        
      </form> 
      
      <br>
      <mat-form-field>
        <mat-label>Conversion de numero a texto</mat-label>
        <input matInput type="text" name="respuestaConversion" placeholder="Numero convertido" [(ngModel)]="respuestaConversion">
      </mat-form-field>
    </mat-tab>
  </mat-tab-group>  
  
  </div>
  